input[type=text]::-webkit-inner-spin-button, 
input[type=text]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

.search-box {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

input {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}