input[type=text]::-webkit-inner-spin-button, 
input[type=text]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

.search-box {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

@media(min-width: 900px) {
    .search-text{
        width: 20vw;
        height: 5vh;
        text-align: center;
        margin-bottom: 1vh;
        font-size: large;
}

    .search-btn{
        display: block;
        position: relative;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: auto;
        margin-bottom: 0;
        width: 10vw;
        height: 3vw;
    }
}



input {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}


@media(max-width: 900px) {
    .search-text{
        width: 100vw;
        height: 5vh;
        text-align: center;
        margin-bottom: 1vh;
    }

    .search-btn{
        display: block;
        position: relative;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: auto;
        margin-bottom: 0;
        width: 50vw;
        height: 10vw;
    }
}