.header-div {
    background-color: black;
    height: 5vh;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}   

.header-text {
    color: white;
    font-size: 2rem;
}

@media(max-width: 411px) {
    .header-text {
    }
}